<div class="carousel-container">
	<div class="carousel-controls">
		<button class="control-button previous" (click)="moveLeft()"></button>
	</div>
	<div class="carousel">
		<!-- <div class="carousel-item" *ngFor="let item of visibleItems; let i = index"
		[ngClass]="{'active': i === activeIndex}"> -->
		<div class="carousel-item" *ngFor="let item of visibleItems; let i = index">
			<div class="square">
				<div class="icon">{{item.icon}}</div>
				<div class="text">{{item.text}}</div>
			</div>
		</div>
	</div>
	<div class="carousel-controls">
		<button class="control-button next" (click)="moveRight()"></button>
	</div>
</div>