header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 72px;
	background-color: #E31918;
	color: #fff;
	padding: 2px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-box {
	background-color: #F0F0F0;
	font-family: Open Sans;
	font-size: 14px;
	color: #9C9C9C;
	width: 711px;
	height: 44px;
	border-radius: 4px;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.search-box-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

#search-box-input {
	width: 680px;
	height: 44px;
	font-size: 14px;
	padding-left: 30px;
	outline: none;
	background-color: transparent;
	z-index: 3;
}


.logo {
	font-weight: bold;
	font-size: 20px;
	height: 40px;
	display: flex;
	justify-items: flex-start;
	align-items: center;
}

/* .menu-icon {
	font-size: 24px;
	cursor: pointer;
}

.menu {
	display: none;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.menu ul li {
	margin: 0 10px;
}

.menu ul li a {
	color: #fff;
	text-decoration: none;
} */