<header>
	<div class="logo">
		<app-logo-white logoWidth="180" />
	</div>

	<div class="search-box">
		<div class="search-box-text">
			<input type="text" id="search-box-input" placeholder="Digite aqui sua busca">
			<app-search-logo />
		</div>
	</div>

	<div>
		<app-user-icon />
	</div>

	<!-- <div class="menu-toggle" (click)="toggleMenu()">
		<span class="menu-icon">&#9776;</span>
	</div>
	<nav class="menu" [ngStyle]="{'display': menuVisible ? 'flex' : 'none'}">
		<ul>
			<li><a href="#">Transferência</a></li>
			<li><a href="#">Pagar Conta</a></li>
			<li><a href="#">Extrato</a></li>
		</ul>
	</nav> -->
</header>