.card-container {
	color: white;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 24px;
	border-radius: 12px;
	background-color: #ED0000;
	height: 220px;
	width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px 30px;
}

.card-logo {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 30px;
	height: 20%;
}

.card-middle {
	height: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.card-middle>div {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
}

.card-footer {
	display: flex;
	justify-content: space-around;
	height: 30%;
}