.content-container {
	margin-top: 100px;
	padding: 5px 40px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cards-boxes {
	display: flex;
	margin-bottom: 30px;
}

.content-card {
	margin-left: 20px;
}