*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
    font-family: 'Muli';
		background-color: #F2F1F6;
}

.shadow-box{
	-webkit-box-shadow: 4px 4px 5px 0px rgba(173, 173, 173, 1);
	-moz-box-shadow: 4px 4px 5px 0px rgba(173, 173, 173, 1);
	box-shadow: 4px 4px 5px 0px rgba(173, 173, 173, 1);
}

.debug{
	border:2px solid purple;
}
